[{dungeon_base, [
    {pools, [
        {dungeon_peon_pool, [
                {size, 10},
                {max_overflow, 20}
            ],
            [
                {host, "localhost"},
                {database, "dungeon"},
                {username, "yutao"},
                {password, "asdasdasd"}
            ]},
    ]
}].