body {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  font-family: sans-serif;
}

.result{
	white-space:pre;
	font-size : 120%;
}

.action{
	float:left;
	width: 600px;
}

.round {
	margin:10px 0 10px;
}